<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://braininitiative.nih.gov/">NIH Brain Initiative</a> <br />
		  - <a href="https://nimh.nih.gov/">NIMH</a> <br />
		  - <a href="https://NIDCD.nih.gov/">NIDCD</a> <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  The Feinstein Inst., 350 Community Dr, Manhasset, NY, 11030<br />
            (<a href="https://www.google.com/maps/place/The+Feinstein+Institute+for+Medical+Research/@40.7756325,-73.7045093,17z/data=!3m1!4b1!4m5!3m4!1s0x89c289ca8b61d1f3:0xabf8a4fd7bfc1595!8m2!3d40.7756285!4d-73.7023206">Maps</a>, 
			<a href="mailto:sbickel@northwell.edu">EMail</a>)
		</div>
				<div class="col-sm-4">
			
		  <p>&copy 2020 HBML Lab. Website template: <a href="https://www.allanlab.org/">The Allan Lab</a></p>
            

		   <p>  </p><p>        
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
